header {
    background-color: #77aca2;
    display: grid;
    grid-template-columns: 150px auto;
}


nav {
    display: flex;
    justify-content: space-around;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.home-title{
    font-family: condiment;
    font-size: 2em;
    margin-top: 10px;

}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {text-align: center;
    color: #FFF;
    text-decoration: underline;
    padding: 35px;
}
nav a:hover {
    color: #7cdedc;
}

body {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}


.content-block {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 20px;
    padding: 20px 0;
}


.image {
   
    height: auto;
    border-radius: 8px; 
}

.text {
    max-width: 500px;
}


.content.reverse {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    
    padding: 40px 0;
}


.image1 {
    width: 100%;
    max-width: 300px; 
    height: auto;
    border-radius: 8px;
}


footer a{
    color: #1446a0;
    text-decoration: underline;
}
footer a:hover {
    color: #1446a0;
    text-decoration: underline;
}
footer{
    background-color: #77aca2;
    color: #7cdedc;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
footer .social img{
    padding-top: 15;
}
footer p{
    font-size: 1.2em;
}
footer img{
    width: 25%;
    margin: 0 auto;

}