nav, footer {
    background-color: rgb(117, 67, 170);
    color: rgb(219, 15, 15);
    padding: 10px;
}

footer p {
    font-size: 20px;
    margin: 20px auto;
}

a:hover {
    background-color: rgba(20, 193, 28, 0.225);
    color: rgb(180, 70, 138);
}

h1{
    text-align: center;
}

img{
    width: 80%;
    display: block;
    margin: 0 auto;
}

nav,
footer{
    text-align: center;
}
p {
    width: 80%
}

A {
    font-size:  1.5em;
}