@import url('https://fonts.google.com/specimen/Cinzel');
@import url('https://fonts.google.com/specimen/Nunito');


header{
    background-color:#191970 ;
    grid-template-columns: 1fr 1fr;
    display: grid;
}

nav{
    color: #A42212; 
    justify-content: space-around;
    margin-left: 20px;
    flex-direction: column;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    margin-top: 5%;
}

nav a {text-align: center;
    color: #A42212;
    text-decoration: underline;
    padding: 15px;
    display: block;

}
nav a:hover {
    color:#008080;
    background-color: #C0C0C0;
    margin-bottom: 20%;
}
.logo{
    width: 20%;
    padding-top: 20px;
    justify-self: center;
    margin: 0 auto;
    
}

.update1 {
    text-align: center;
    padding-top: 50px;
    margin-inline: 20px;
}

.update1 p {
    padding-left: 200px;
    padding-right: 200px;
}
.updates {
    width: 40%;
    margin-top: 50px;
    margin: auto 0;
}

.update2{
    display: flex;
    align-items: center;
    padding-top: 100px;
    margin: 0 auto;
    padding-bottom: 100px;

    
}
.update2 h2{
    text-align: center;
    padding: 20px;
    max-width: 100px
}
.update2 p {
    max-width: 600px;
}
.img2 {
    width: 20%;
    margin-left: 100px;
    display: block;
    align-items: center;
    
    
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: #2e3b4e;
    color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3, h4 {
    font-family: 'Cinzel', serif;
    color: #A42212;
  }

footer{
    background-color:#191970 ;
    grid-template-columns: 1fr 1fr;
    display: grid;
}
.footerLogo{
    width: 20%;
    margin-left: 50%;
    justify-self: right;
    
    
}