header{
    background-color:#008080 ;
    grid-template-columns: 1fr 1fr;
    display: grid;
}

nav{
    color: #191970; 
    justify-content: space-around;
    margin-left: 20px;
    flex-direction: column;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    margin-top: 5%;
}

nav a {text-align: center;
    color: #FFF;
    text-decoration: underline;
    padding: 15px;
    display: block;

}
nav a:hover {
    color: #7cdedc;
}
.logo{
    width: 20%;
    padding-top: 20px;
    justify-self: center;
    margin: 0 auto;
    
}

footer{
    background-color:#008080 ;
    grid-template-columns: 1fr 1fr;
    display: grid;
}
.footerLogo{
    width: 20%;
    padding-left: 20px;
    justify-self: right;
    
    
}