header{
    background-color:#008080 ;
    grid-template-columns: 1fr 1fr;
    display: grid;
}

nav{
    color: #191970; 
    justify-content: space-around;
    margin-left: 20px;
    flex-direction: column;
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    margin-top: 5%;
}

nav a {text-align: center;
    color: #FFF;
    text-decoration: underline;
    padding: 15px;
    display: block;

}
nav a:hover {
    color: #7cdedc;
}
.logo{
    width: 20%;
    padding-top: 20px;
    justify-self: center;
    margin: 0 auto;
    
}
h2 {
    text-align: center;
}
 .weather{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center; 
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 50px;
 }

 .rainsnow {
    width: 100%;
    height:auto
 }

 .weather-text {
    
 }

 .weather-bottom img{
    display: block;
    
    margin: 0 auto ;
    width: 30%;

 }

 #weather-system{
    width: fit-content;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;

 }
 #weather-system  ul {
    display:block;
    list-style-position: inside;
    display: inline-block;
    padding-left: 0;
    text-align-last: left;
    
 }
 .weather-types {
   
    margin-top: 30px;
 }
.weather {
   
    padding: 20px
}

footer{
    background-color:#008080 ;
    grid-template-columns: 1fr 1fr;
    display: grid;
}
.footerLogo{
    width: 20%;
    padding-left: 20px;
    justify-self: right;
    
    
}